fastapi>=0.68.0,<0.69.0
uvicorn==0.11.3
sqlalchemy
passlib
bcrypt
python-jose
python-multipart
pyclean
pyjwt
typing
pandas
datetime
openpyxl
python-math
pydantic>=1.8.0,<2.0.0
pymysql
tabulate
janitor
python-jose
alembic
python-dotenv
pyjanitor
gunicorn
httptools
uvloop

psycopg2-binary



